@model WeatherApp.Models.ApiResultViewModel;

<br />
<h1 class="text-center mt-4 text-light">Current Weather in @Model.name</h1>
<br />

@*INITIAL WEATHER INFORMATION*@
<div class="container-fluid text-center mt-3 text-light">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <img height="50" width="50" src="@Model.iconUrl" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h3>@Model.weather.First().description</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h3>@Model.main.temp F</h3>
        </div>
    </div>
</div>
<br />
@*Detailed Weather Info*@
<div class="container-fluid text-center mt-3 text-light">
    <div class="row justify-content-center">
        <div class="col-2 align-self-center">
            <dl>
                <dt>Feels Like (F):</dt>
                <dd>@Model.main.feels_like</dd>
                <dt>Pressure (hPa):</dt>
                <dd>@Model.main.pressure</dd>
                <dt>Humidity (%):</dt>
                <dd>@Model.main.humidity</dd>
            </dl>
        </div>
        <div class="col-2 align-self-center">
            <dl>
                <dt>Cloud Cover (%):</dt>
                <dd>@Model.clouds.all</dd>
                <dt>Wind Speed (mph):</dt>
                <dd>@Model.wind.speed</dd>
                <dt>Wind Direction:</dt>
                <dd>@Model.windDirection</dd>
            </dl>
        </div>
    </div>
</div>

@*ADD THE 3 DAY FORECAST IN A STYLED TABLE HERE*@ 
@*THIS IS GOING TO REQUIRE CREATING A NEW MODEL THAT HAS THE FORECAST INCLUDED AND SENDING NEW MODEL FROM ACTION AND BINDING NEW MODEL TO THIS VIEW*@ 
@*ADD A TRY TO CATCH TO THE SEARCH METHOD TO GO TO THE ERROR PAGE IF THEY ENTER AN INVALID SEARCH TERM*@ 
@*BUILD IN THEIR GEOCODING API TO MAKE THE CALLS MORE ACCURATE. ADD THEIR API KEY TO APPSETTINGS.JSON*@
<h2 class="text-center mt-4 text-light">Three Day Forecast</h2>
<div>

</div>