@model WeatherApp.Models.ApiResultViewModel;

<br />
<h1 class="text-center mt-4 text-light">Current Weather in @Model.name, @Model.countryCode</h1>
<br />

@*INITIAL WEATHER INFORMATION*@
<div class="container-fluid text-center mt-3 text-light">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <img height="50" width="50" src="@Model.iconUrl" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h3>@Model.weather.First().description</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h3>@Model.main.temp F</h3>
        </div>
    </div>
</div>
<br />
@*Detailed Weather Info*@
<div class="container-fluid text-center mt-3 text-light">
    <div class="row justify-content-center">
        <div class="col-2 align-self-center">
            <dl>
                <dt>Feels Like (F):</dt>
                <dd>@Model.main.feels_like</dd>
                <dt>Pressure (hPa):</dt>
                <dd>@Model.main.pressure</dd>
                <dt>Humidity (%):</dt>
                <dd>@Model.main.humidity</dd>
            </dl>
        </div>
        <div class="col-2 align-self-center">
            <dl>
                <dt>Cloud Cover (%):</dt>
                <dd>@Model.clouds.all</dd>
                <dt>Wind Speed (mph):</dt>
                <dd>@Model.wind.speed</dd>
                <dt>Wind Direction:</dt>
                <dd>@Model.windDirection</dd>
            </dl>
        </div>
    </div>
</div>


@*WEATHER FORECAST*@
<h2 class="text-center mt-4 text-light">Three Day Forecast</h2>
<div>
    <div class="row justify-content-center">
        <div class="col align-self-center">
            <table class="table table-hover bg-light text-center">
                <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Condition</th>
                        <th>Temperature (F)</th>
                        <th>Feels Like (F)</th>
                        <th>Pressure (hPa)</th>
                        <th>Cloud Cover (%)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.forecast.list)
                    {
                        <tr>
                            <td>@item.dt_txt</td>
                            <td><img height="50" width="50" src="@item.iconUrl" /></td>
                            <td>@item.main.temp</td>
                            <td>@item.main.feels_like</td>
                            <td>@item.main.pressure</td>
                            <td>@item.clouds.all</td>
                        </tr>
                    }
            </table>
         </div>
    </div>
</div>